{% extends 'layouts/base.html' %}

{% load static %}
{% load partials %}
{% load custom_filters %}

{% partialdef section %}
    {% if section == 'artists' %}
        <h1 class="title-section"> Artistas </h1>
        
        <div class="container-cards">
            {% for artist in objects %}
                <div class="card artist-card">
                    <div class="container-card"
                        hx-get="{% url 'artist_view' artist_name=artist.name %}"
                        hx-trigger="click"
                        hx-target=".content"
                        hx-push-url="true"
                        hx-swap="innerHTML swap:0.2s settle:0.2s"
                        hx-indicator=".loading.main.main">

                        {% if artist.profileImg == '' %}
                            <i class="fa-regular fa-user icon-user"></i>
                        {% else %}
                            <div class="container-img">
                                <img class="lazyload"
                                    data-src="{{ artist.profileImg.url}}" 
                                    src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
                                    alt="{{ artist.name }}">
                            </div>
                        {% endif %}
                        <p class="name">{{ artist.name }}</p>
                    </div>
                    <button hx-get="{% url 'play_artist' artist_name=artist.name %}" 
                            hx-target=".songs-queue"
                            hx-swap="outerHTML"
                            class="btn-play"> 
                            <i class="fa-solid fa-play"></i> 
                    </button>
                </div>
            {% endfor %}
        </div>

    {% endif %}
    {% if section == 'albums' %}
        <h1 class="title-section"> Albums </h1>

        <div class="container-cards">
            
            {% for album in objects %}
                <div class="card">
                    <div class="container-card"
                        hx-get="{% url 'album_view' artist_name=album.artist album_name=album.name %}"
                        hx-target=".content"
                        hx-swap="innerHTML swap:0.2s settle:0.2s"
                        hx-indicator=".loading.main.main"
                        hx-push-url="true">

                        <div class="container-img">
                            <img class="lazyload"
                                data-src="{{ album.img.url }}"
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
                                alt="{{ album.name }}">
                        </div>
                        <p class="name">{{ album.name }}</p>
                    </div>
                    <button class="btn-play"
                            hx-get="{% url 'play_album' id=album.id %}" 
                            hx-target=".songs-queue"
                            hx-swap="outerHTML">
                        <i class="fa-solid fa-play"></i> 
                    </button>
                </div>
            {% endfor %}
        </div>
        
    {% endif %}
    {% if section == 'songs' %}
        <h1 class="title-section"> Canciones </h1>

        <div class="container-cards">
            {% for music in objects %}
                <div class="card">
                    <div class="container-card"
                        {% if music.album.name != "Ninguno" %}
                            hx-get="{% url 'album_view' artist_name=music.artist.name album_name=music.album.name  %}"
                            hx-target=".content"
                            hx-swap="innerHTML swap:0.2s settle:0.2s"
                            hx-indicator=".loading.main"
                            hx-push-url="true"

                        {% else %}
                            hx-get="{% url 'single_view' artist_name=music.artist.name single_name=music.name  %}"
                            hx-target=".content"
                            hx-swap="innerHTML swap:0.2s settle:0.2s"
                            hx-indicator=".loading.main"
                            hx-push-url="true"
                        {% endif %}>
                        
                        <div class="container-img">
                            <img class="lazyload"
                                data-src="{{ music.imgUrl }}" 
                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" 
                                alt="{{ music.name }}">
                        </div>
                        <p class="name">{{ music.name }}</p>
                    </div>
                    <button class="btn-play"
                            hx-get="{% url 'play_music' id=music.id %}"
                            hx-target=".songs-queue"
                            hx-swap="outerHTML"> 
                        <i class="fa-solid fa-play"></i> 
                    </button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endpartialdef %}

{% block content %}
    {% partial section %}
{% endblock %}